@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900);
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0 auto;
  background-color: #0d192b;
  font-family: "Outfit", sans-serif; }
  body p {
    font-size: 18px; }

.card-container {
  margin: 20vh auto;
  width: 1440px; }
  .card-container__card {
    width: 350px;
    margin: 0 auto;
    background-color: #14253d;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column; }
    .card-container__card__image-ctn {
      position: relative; }
      .card-container__card__image-ctn img {
        border-radius: 10px;
        max-width: 100%; }
      .card-container__card__image-ctn__mid {
        background: rgba(0, 255, 247, 0.4);
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        border-radius: 10px; }
        .card-container__card__image-ctn__mid img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); }
      .card-container__card__image-ctn:hover .card-container__card__image-ctn__mid {
        opacity: 1; }
    .card-container__card__info-ctn {
      padding: 25px 0;
      border-bottom: 1px solid #2f415b; }
      .card-container__card__info-ctn__name {
        color: white;
        font-weight: 500;
        font-size: 22px;
        padding-bottom: 25px; }
        .card-container__card__info-ctn__name a {
          color: white;
          text-decoration: none;
          -webkit-transition: all 0.4s ease-in-out 0s;
          -moz-transition: all 0.4s ease-in-out 0s;
          transition: all 0.4s ease-in-out 0s; }
          .card-container__card__info-ctn__name a:hover {
            color: #00fff7; }
      .card-container__card__info-ctn__desc {
        color: #8bacda;
        padding-bottom: 25px; }
        .card-container__card__info-ctn__desc__more-info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          .card-container__card__info-ctn__desc__more-info__price {
            font-weight: 600;
            color: #00fff7;
            display: flex;
            align-items: center; }
            .card-container__card__info-ctn__desc__more-info__price img {
              padding-right: 8px; }
          .card-container__card__info-ctn__desc__more-info__timing {
            color: #8bacda;
            display: flex;
            align-items: center; }
            .card-container__card__info-ctn__desc__more-info__timing img {
              padding-right: 8px; }
    .card-container__card__footer-ctn {
      padding-top: 25px;
      color: #8bacda;
      display: grid;
      grid-template-columns: 1fr 6fr;
      column-gap: 25px; }
      .card-container__card__footer-ctn__creator-img img {
        max-width: 100%;
        border: 1px solid #8bacda;
        border-radius: 50%; }
      .card-container__card__footer-ctn__creator-name {
        align-self: center; }
        .card-container__card__footer-ctn__creator-name a {
          color: white;
          text-decoration: none;
          -webkit-transition: all 0.4s ease-in-out 0s;
          -moz-transition: all 0.4s ease-in-out 0s;
          transition: all 0.4s ease-in-out 0s; }
          .card-container__card__footer-ctn__creator-name a:hover {
            color: #00fff7; }

.footer {
  position: fixed;
  bottom: 15px; }

.attribution {
  color: white;
  font-size: 11px; }
  .attribution a {
    color: white; }

/*# sourceMappingURL=style.css.map */
